

.hero-section {
  display: flex;
  justify-content: space-between; /* spread them apart */
  align-items: flex-end; /* align to bottom */
  gap: 2rem; /* space between columns */
  margin: 96px 0 156px 0;
}



.hero-section h1 {
  flex: 1;
  max-width: 50%;
  margin-bottom: 12px;
  margin-top: 12px;
}

.dot {
  color: var(--color-darkpink);
}

.hero-subtitle {
  font-size: 20px; 
  font-weight: 300;
  margin-top: 24px;
  max-width: 700px;
  line-height: 1.5;
  flex: 1;
  max-width: 50%;
}

/* SCREEN SIZES */
@media (max-width: 1200px) {

  .hero-section h1 {
    font-size: 60px;
  }

  .hero-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .hero-section {
    flex-direction: column; /* stack vertically */
    align-items: flex-start; /* align text to the left */
    gap: 0px; /* adjust spacing between h1 and p */
    margin: 48px 0 72px 0;
  }
  .hero-section h1 {
    font-size: 50px;
    max-width: 100%;
    margin-bottom: 0;
  }

  .hero-subtitle {
    font-size: 16px;
    max-width: 100%;
  }
}