.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  font-family: sans-serif;
  border-bottom: 1px solid;
  border-image: linear-gradient(270deg, #FFA303 0%, #E223FF 100%) 1; 
}


.nav-right-side {
  
}

@media (max-width: 720px) {
  .nav {
    padding: 16px 20px;
  }
  .logo {
    width: 111px;
  }
}