:root {
  --site-marg-desk: 48px;
  --site-marg-mob: 16px;
  --color-black: #010105;
  --color-purple: #2F1B65;
  --color-blue: #5123FF;
  --color-darkpink: #C226F8;
  --color-pink: #E223FF;
  --color-yellow: #FFA303;
  --color-white: #FFFFFF;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Black-Oblique.woff2') format('woff2');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Condensed-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Condensed-Medium-Oblique.woff2') format('woff2');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/GTWalsheim/GT-Walsheim-Light-Oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: oblique;
}

.page-padding {
  padding-left: var(--site-margin-desktop);
  padding-right: var(--site-margin-desktop);
}

@media (max-width: 720px) {
  .page-padding {
    padding-left: var(--site-margin-mobile);
    padding-right: var(--site-margin-mobile);
  }
}

body {
  margin: 0;
  font-family: "GT Walsheim", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

h1 {
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

h2 {
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; 
}

h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; 
}

h5 {
  font-family: "GT Walsheim Condensed";
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h6 {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.5px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; 
  letter-spacing: 0.25px;
}

@media (max-width: 720px) {

  h1 {
    font-size: 50px;
  }
}


/* Global styles */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.section-inset {
   width: 100%;
   max-width: 1440px;
   padding-left: var(--site-marg-desk);
   padding-right: var(--site-marg-desk);
   margin: auto;
}

@media (max-width: 800px) {
  .section-inset {
    padding-left: var(--site-marg-mob);
    padding-right: var(--site-marg-mob);
  }
 }


.section-fullbleed {
  width: 100%;
  margin: auto;
}

.HomeSpacer {
  width: 100%;
  height: 600px;
}